<div class="container">
<h1>Complete form below to ENJOY THE BENEFITS!</h1>

<br> 
<br>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
 <div class="field">
    <%= f.label :investment_strategy%>
   <div id="investment">
   <%= radio_button_tag(:investment_strategy, "Conservative") %>
   <%= label_tag(:age_child, "Conservative") %>
   <%= radio_button_tag(:investment_strategy, "Intermediate") %>
   <%= label_tag(:age_adult, "Intermediate") %>
   <%= radio_button_tag(:investment_strategy, "Risky") %>
   <%= label_tag(:age_adult, "Risky") %>
   </div>
</div>    
  <div class="field">
    <%= f.label :health_insurance%>
    <div id="health">
   <%= radio_button_tag(:health_insurance, "$1,000") %>
   <%= label_tag(:health_insurance, "$1,000") %>
   <%= radio_button_tag(:health_insurance, "$2,500") %>
   <%= label_tag(:health_insurance, "$2,500") %>
    <%= radio_button_tag(:health_insurance, "$5,000") %>
   <%= label_tag(:health_insurance, "$5,000") %>
    <%= radio_button_tag(:health_insurance, "$10,000") %>
   <%= label_tag(:health_insurance, "$10,000") %>
   </div>
  </div> 

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions"><%= f.submit "Sign Up" %></div>
<% end %>
</div>
