<div class = "yoo">
<div class = "yo">
<h1> <%= current_user.first_name %> <%= current_user.last_name %> </h1>
</div>
	<div class ="meat">
    <% @paystubs.each do |paystub|%>
		<% if current_user.id == paystub.user_id %>
		<div id= "title">Date: <%= paystub.pay_period1 %> to <%= paystub.pay_period2 %></div> 
		<strong>Income:</strong>$<%=paystub.income%>0<br>
			<div class = "invest"><% @users.each do |user|%>
				<% if current_user.id == user.id %>
					
					<strong>401K Contribution:</strong><% if user.investment_strategy == "Conservative"%>
						$<%=-(paystub.income)*0.1 %>0
						<% elsif user.investment_strategy == "Intermediate"%>
						$<%=-(paystub.income)*0.15 %>0 
						<% elsif user.investment_strategy == "Risky"%>
						$<%=-(paystub.income)*0.2 %>0 
					<% end %>
				
			
					<br>
				    <strong>Health Insurance:</strong>
				   <!-- <div class = "underline"> -->
				        <% if user.health_insurance == 1000%>
						$<%=-(paystub.income)*0.1 %>0
						<% elsif user.health_insurance  == 2500%>
						$<%=-(paystub.income)*0.15 %>0 
						<% elsif user.health_insurance  == 5000%>
						$<%=-(paystub.income)*0.2 %>0 
						<% elsif user.health_insurance  == 10000%>
						$<%=-(paystub.income)*0.25 %>0 

					<% end %>
				</div>
					
				<strong>Remaining Income:</strong> <% if user.investment_strategy == "Conservative" && user.health_insurance == 1000 %>
						$<%=paystub.income - (paystub.income* (0.1+ 0.1)) %>0
						<% elsif user.investment_strategy == "Conservative" && user.health_insurance == 2500 %>
						$<%=paystub.income - (paystub.income)* (0.1+ 0.15) %>0
						<% elsif user.investment_strategy == "Conservative" && user.health_insurance == 5000 %>
						$<%=paystub.income - (paystub.income)* (0.1+ 0.2) %>0
						<% elsif user.investment_strategy == "Conservative" && user.health_insurance == 10000 %>
						$<%=paystub.income - (paystub.income)* (0.1+ 0.25) %>0
						<% elsif user.investment_strategy == "Intermediate" && user.health_insurance == 1000 %>
						$<%=paystub.income - (paystub.income)* (0.15+ 0.15) %>0 
						<% elsif user.investment_strategy == "Intermediate" && user.health_insurance == 2500 %>
						$<%=paystub.income - (paystub.income)* (0.15+ 0.15) %>0 
						<% elsif user.investment_strategy == "Intermediate" && user.health_insurance == 5000 %>
						$<%=paystub.income - (paystub.income)* (0.15+ 0.2) %>0 
						<% elsif user.investment_strategy == "Intermediate" && user.health_insurance == 10000 %>
						$<%=paystub.income - (paystub.income)* (0.15+ 0.25) %>0
						<% elsif user.investment_strategy == "Risky" && user.health_insurance == 1000 %>
						$<%=paystub.income - (paystub.income)* (0.2+ 0.15) %>0 
						<% elsif user.investment_strategy == "Risky" && user.health_insurance == 2500 %>
						$<%=paystub.income - (paystub.income)* (0.2+ 0.15) %>0 
						<% elsif user.investment_strategy == "Risky" && user.health_insurance == 5000 %>
						$<%=paystub.income - (paystub.income)* (0.2+ 0.2) %>0 
						<% elsif user.investment_strategy == "Risky" && user.health_insurance == 10000 %>
						$<%=paystub.income - (paystub.income)* (0.2+ 0.25) %>0
					<% end %><br>
						<%= link_to "Edit this entry!", edit_path %>
			    		<%= link_to "Delete this entry!", @paystub, method: :delete, data: { confirm: 'Are you sure you want to delete it?' } %><br>
						

				<% end %>
			<% end %>
		<% end %>
	<br>
	

	<% end %>
	
	</div>
  </div>
	  
    <%#= link_to "Edit this entry!", edit_path(@paystub) %>
    <%#= link_to "Delete this entry!",  method: :delete, data: { confirm: 'Are you sure you want to delete it?' } %>
  <!--   <%= link_to "Back to the list!", paystubs_path %>
 -->

