<!DOCTYPE html>
<html>
<head>
  <title>VHR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>
<body>

<!-- <div id="container">
 -->    <div id="user_header">
      <% if current_user %>
        Logged in as <%= current_user.email %>
        <%= link_to "Log Out", logout_path %> |
        <%= link_to "Add Paystub", new_path(:user_id) %> |
        <%= link_to "Account Activity", user_path(:user_id) %>
       
      <% else %>
        <%= link_to "Sign Up", signup_path %> or
        <%= link_to "Log In", login_path %>
    </div>
    <% end %>
    <% flash.each do |name,msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
<!-- </div> -->
<%= yield %>

</body>
</html>
